@import './reset.css';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

:root {
  --container-width: 1270px;
  --container-padding: 15px;
  --secondary: rgba(15, 31, 28, 0.5);
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #f6f6f6;
  color: #0f1f1c;
}
.none {
  display: none !important;
}
.container {
  max-width: var(--container-width);
  padding: 0 var(--container-padding);
  margin: 0 auto;
}
.container-right {
  padding-left: calc((100% - var(--container-width)) / 2 + var(--container-padding));
}

.block {
  background-color: aquamarine;
  height: 200px;
}

/*  Header */
.header {
  position: relative;
  min-height: 940px;
  background: linear-gradient(132.05deg, #428e5f -17.38%, #112120 78.4%), #204434;
  padding-top: 44px;
  color: #fff;
  overflow: hidden;
}
.header::after {
  position: absolute;
  content: '';
  left: 0;
  bottom: 0;
  width: 100%;
  height: 96px;
  background-image: url('./../img/header/header-bottom.svg');
}
.header a {
  color: #fff;
}
.header__top {
  margin-bottom: 95px;
}
.header__row {
  display: flex;
}
.header__content {
  position: relative;
  z-index: 1;
  max-width: 592px;
}
.header__img {
  position: relative;
  flex-grow: 1;
}
.header__img img {
  position: absolute;
  top: -180px;
  right: -87px;
  max-width: unset;
  width: 894px;
  height: 940px;
}

/* logo */
.logo {
  font-size: 20px;
  font-weight: 700;
}

/* Navigation */
.nav {
  display: flex;
  justify-content: space-between;
  column-gap: 80px;
  align-items: center;
}
.nav__list {
  display: flex;
  column-gap: 80px;
  font-size: 15px;
  font-weight: 500;
}
.nav__list a {
  position: relative;
}
.nav__list a.active::after,
.nav__list a:hover::after {
  position: absolute;
  left: 0;
  bottom: -6px;
  right: 10px;
  content: '';
  display: block;
  /* width: 35px; */
  height: 4px;
  background-color: #c4c4c4;
  border-radius: 100px;
}
.nav__login {
  display: flex;
  column-gap: 25px;
  font-size: 15px;
  font-weight: 500;
  align-items: center;
}
/* button__login */
.btn__login {
  display: inline-block;
  padding: 13px 44px;
  border-radius: 100px;
  background: linear-gradient(130deg, #ff7b4e 15.57%, #ff584e 95.03%), #fff;
  font-size: 15px;
  font-weight: 500;
}
.btn__login:hover {
  color: rgb(250, 233, 122);
  transition: color 0.2s ease-in;
}
.btn__login:active {
  position: relative;
  top: 1px;
}

/*  Header content */
.header__badge {
  display: inline-block;
  font-size: 18px;
  font-weight: 500;
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.25);
  padding: 11px 30px;
  margin-bottom: 7px;
}
.header__title {
  font-size: 55px;
  font-weight: 400;
  margin-bottom: 30px;
}
.header__text {
  font-size: 25px;
  font-weight: 700;
  opacity: 0.5;
  margin-bottom: 68px;
}
.header__btn {
  display: inline-block;
  border-radius: 27px;
  background: linear-gradient(130deg, #ff7b4e 15.57%, #ff584e 95.03%);
  padding: 26px 48px;
  font-size: 25px;
  font-weight: 600;
  color: #fefefe;
}
.header__btn:hover {
  color: rgb(250, 233, 122);
  transition: color 0.2s ease-in;
}
.header__btn:active {
  position: relative;
  top: 1px;
}

/* destinations */
.destinations {
  padding: 96px 0 100px;
  overflow-x: hidden;
}
.destinations__row {
  display: flex;
  column-gap: 50px;
}
.destinations__content {
  max-width: 456px;
}
.destinations__slider {
  width: 1110px;
  flex-shrink: 0;
}
.destinations__title {
  color: #0f1f1c;
  font-size: 55px;
  font-weight: 600;
  margin-bottom: 15px;
}
.destinations__title span {
  color: #0f1f1c;
  font-size: 30px;
}
.destinations__text {
  color: var(--secondary);
  font-size: 25px;
  font-weight: 500;
  margin-bottom: 60px;
}
/* btn */
.btn {
  display: inline-block;
  border-radius: 27px;
  background: linear-gradient(130deg, #ff7b4e 15.57%, #ff584e 95.03%);
  padding: 25px 45px;
  font-size: 20px;
  font-weight: 600;
  color: #fefefe;
}
.btn:hover {
  color: rgb(250, 233, 122);
  transition: color 0.2s ease-in;
}
.btn:active {
  position: relative;
  top: 1px;
}

/* slider */
.slider {
  position: relative;
  height: 456px;
}
.slider__item {
  margin-top: 27px;
  width: 335px;
  height: 402px;
  object-fit: cover;
  border-radius: 35px;
  transition: 0.2s ease-in;
}
.slider .center .slider__item {
  margin-top: 0;
  width: 380px;
  height: 456px;
}

/* slider btn */
.slider__btn {
  display: block;
  width: 68px;
  height: 68px;
  border-radius: 50%;
  background: linear-gradient(130deg, #ff7b4e 15.57%, #ff584e 95.03%), #8b8b8b;
  display: flex;
  align-items: center;

  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}
.slider__btn--pref {
  left: -27px;
  padding-left: 26px;
  justify-content: flex-start;
}
.slider__btn--next {
  right: -27px;
  padding-right: 26px;
  justify-content: flex-end;
}

/* customers */
.customers {
  padding: 100px 0 133px;
}
.customers__row {
  display: flex;
  column-gap: 68px;
}
.customers__img {
  max-width: 478px;
  border-radius: 60px;
}
.customers__img img {
  border-radius: 60px;
}
.customers__content {
}
.customers__title {
  width: 565px;
  font-size: 45px;
  font-weight: 500;
}
.review__client {
  margin-bottom: 60px;
  display: flex;
}
.review__client-avatar {
  overflow: hidden;
  background-color: #FF794E;
  width: 134px;
  height: 134px;
  border-radius: 50%;
  margin-right: 33px;
}
.review__client-desc {
}
.review__client-desc-name {
  font-size: 33px;
  font-weight: 500;
}
.review__client-desc-country {
  font-size: 25px;
  font-weight: 400;
  color: var(--secondary);
}
.review__text {
  font-size: 22px;
  font-weight: 500;
  color: var(--secondary);
  width: 491px;
  margin-bottom: 30px;
}
.review__rating {
}
